# Your google user, that has access to SRUG registration spreadsheets
google_user: "your.address@gmail.com"
# Keys of SRUG registration spreadsheets, that emails will be taken from
spreadsheet_keys:
- "first-key"
- "another-one"
